<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select Option Example 1</title>
</head>
<body>
<!-- Include _menu.html -->
<!--<th:block th:include="/_menu"></th:block>-->

<h2>Select Option Example 1</h2>

<form name='f' th:object="${billingForm}" method='POST'>
    <table>
        <tr>
            <td>Select Country:</td>
            <td>
                <select th:field="*{billingInitialDelayDTO}">
                    <option value=""> -- </option>
                    <option th:each="billing : ${billingDetails}"
                            th:value="${billing}"
                            th:utext="${billing.toString()}"/>
                </select>

            </td>
        </tr>

        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>

</body>

</html>